<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
        integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="script.js" defer></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <title>BoolzApp</title>
</head>

<body>
    <div id="boolzApp">
        <main>
            <div class="container-fluid d-flex">
                <div class="row w-100 p-0">
                    <div class="col-4 d-flex flex-column p-0" id="contactSection">
                        <div class=" bggrey d-flex align-items-center py-2">
                            <div class="avatarcontainer d-flex align-items-center">
                                <div class="me-2 avatarimg">
                                    <img src="img/avatar_io.jpg" alt="mio avatar">
                                </div>
                                <h6 class="m-0">Sofia </h6>
                            </div>
                            <div class="ms-auto iconmain">
                                <i class="fas fa-circle-notch text-black-50 me-2"></i>
                                <i class="bi bi-chat-left-fill text-black-50 me-2"></i>
                                <i class="fas fa-ellipsis-v text-black-50 me-2"></i>
                            </div>
                        </div>
                        <div class=" bgazure p-3 d-flex">
                            <div class="circlewhite d-flex align-items-center justify-content-center me-3 "><i
                                    class="fas fa-bell-slash font colorazure"></i>
                            </div>
                            <div id="notifiche">
                                <div class="fw-semibold">Ricevi notifiche di nuovi messaggi</div>
                                <a class="text-black-50" href="">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <div class=" p-3 d-flex bglightgrey">
                            <span class="px-2 bg-white border"><i class="fas fa-search"></i></span>
                            <input class="w-100 border" v-model="adminSearch" @keyUp="searchConctact()" type="text"
                                placeholder="Cerca una chat">
                        </div>
                        <div class="bgazure d-flex flex-column p-3 gap-3">
                            <div v-if='!newContactIndex' @click="changeNewContactIndex()"
                                class="w-50 align-self-center btn btn-success">
                                Aggiungi Contatto</div>
                            <div class="d-flex flex-column gap-3 " v-if="newContactIndex">
                                <input type="text" placeholder="Nome contatto" v-model="newContactName">
                                <input type="text" placeholder="Immagine contatto(inserisci un numero da 1 a 8)"
                                    v-model="newContactImg">
                                <div class="btn btn-success w-20 text-center align-self-center"
                                    @click="addNewContact()">Inserisci</div>
                            </div>
                        </div>
                        <div class=" contacts bg-white">
                            <div class="w-100 d-flex p-3 border border-top-0 border-start-0 border-end-0 cursor"
                                v-for="(element,i) in contacts" :class="(i==numberValue)? 'bgactive' : ''"
                                @click="takeIndexValue(i)" v-if="element.visible">
                                <div class="avatarimg me-3">
                                    <img :src="'img/avatar' + element.avatar + '.jpg'" alt="">
                                </div>
                                <div>
                                    <h6>{{element.name}}</h6>
                                    <div v-if="element.newSmsArray=='' && element.messages != '' ">
                                        <p class="m-0">
                                            {{element.messages[element.messages.length-1].message}}</p>
                                        <p class="m-0">
                                            {{element.messages[element.messages.length-1].date}}</p>
                                    </div>
                                    <div v-if="element.newSmsArray!=''">
                                        <p class="m-0">{{element.newSmsArray[element.newSmsArray.length-1].message}}</p>
                                        <p class="m-0">{{element.newSmsArray[element.newSmsArray.length-1].date}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-8 p-0 h-100">
                        <div class="d-flex flex-column h-100" id="chatSection">
                            <div class="d-flex justify-content-between bggrey">
                                <div v-for="(element,index) in contacts" v-if="showContactClick(index)"
                                    class="bggrey px-4 py-2 d-flex align-items-center">
                                    <div class="avatarimg me-3 ">
                                        <img :src="'img/avatar' + element.avatar + '.jpg'" alt="">
                                    </div>
                                    <div>
                                        <h6>{{element.name}}</h6>
                                        <p id="chengeStatus">Ultimo accesso il giorno {{getDay()}} alle ore:
                                            {{getTime()}}</p>
                                    </div>
                                </div>
                                <div class="bggrey px-4 py-2 d-flex align-items-center position-relative">
                                    <i class="me-3 fas fa-search text-black-50"></i>
                                    <i class=" me-3 fas fa-paperclip text-black-50"></i>
                                    <i class="fas fa-ellipsis-v text-black-50 me-2" @click="changeMenuClass()"></i>
                                    <div class="position-absolute end-0 menupointer bg-light p-3" :class="display">
                                        <ul>
                                            <li>
                                                <button type="button" class="list-group-item list-group-item-action"
                                                    @click="deleteAllMessages(), changeMenuClass()">Elimina
                                                    Messaggi</button>
                                            </li>
                                            <li>
                                                <button type="button" @click='deleteContact(),changeMenuClass() '
                                                    class="list-group-item  list-group-item-action">Elimina
                                                    Chat</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="bgimg mx-auto w-100 flex-grow-1 p-5">
                                <div class="w-100 d-flex flex-column">
                                    <div class="w-100 d-flex flex-column">
                                        <div v-if='contacts[numberValue].messages != ""'
                                            class="px-3 bg-white rounded-3 align-self-center text-center border-3">
                                            {{data[numberValue]}}</div>
                                        <div v-for="(message,index) in contacts[numberValue].messages"
                                            class=" rounded-3 widthsms px-2 my-3 d-flex flex-column "
                                            :class="(message.status == 'received') ? 'bgwhite' : 'bggreen align-self-end' ">
                                            <div class="pt-2 pb-1 m-0 d-flex justify-content-between">
                                                {{message.message}}
                                                <div class="text-black-50 border-0 btnh position-relative">
                                                    <i class="bi bi-arrow-down-short"
                                                        @click="showMenuSmsGet(index)"></i>
                                                    <div class="border-0 btn btn-light position-absolute positionmenu"
                                                        v-show='index === menuSms' @click="deleteMessage(index)">
                                                        Delete message</div>
                                                </div>
                                            </div>
                                            <div class="ms-auto text-end pb-2 text-black-50 fontsmall m-0">
                                                {{minutes[index]}}
                                            </div>
                                        </div>
                                    </div>

                                    <div v-show="contacts[numberValue].newSmsArray.length != 0"
                                        class="px-3 mt-3 bg-white rounded-3 align-self-center text-center border-3">
                                        {{actualDay}}
                                    </div>
                                    <div v-for="(message,index) in contacts[numberValue].newSmsArray"
                                        class=" rounded-3 widthsms px-2 my-3 d-flex flex-column "
                                        :class="(message.status == 'received') ? 'bgwhite' : 'bggreen align-self-end' ">
                                        <div class="pt-2 pb-1 m-0 d-flex justify-content-between">{{message.message}}
                                            <div class="text-black-50 border-0 btnh position-relative">
                                                <i class="bi bi-arrow-down-short" @click="showMenuSmsGet(index)"></i>
                                                <div class="border-0 btn btn-light position-absolute positionmenu"
                                                    v-show='index === menuSms' @click="deleteMessage(index)">
                                                    Delete message</div>
                                            </div>
                                        </div>
                                        <div class="ms-auto text-end pb-2 text-black-50 fontsmall m-0">
                                            {{actualTime}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="col-12 bgbeige p-3 d-flex align-items-center justify-content-around">
                                    <i class="bi bi-emoji-smile mx-3 font text-black-50 "></i>
                                    <input id="message" class="w-75" placeholder="Scrivi un messaggio" v-model="newSms"
                                        @keyUp.enter="sendMessage()"><i v-if="newSms!==''"
                                        class="text-black-50 bi bi-send" @click="sendMessage()"></i></input>
                                    <i class="fas fa-microphone mx-3 font text-black-50" v-if="newSms===''"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
</body>

</html>